<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm">
    Sign Up
</button>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                {% block title %}Register{% endblock %}

                {% block body %}
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}


                    {{ form_start(registrationForm) }}
                     {{ form_row(registrationForm.email) }}


                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" name="submit" value="register">kayıt</button>

                    {{ form_end(registrationForm) }}
                {% endblock %}
        </div>
    </div>
</div>



{#<div class="text-center">#}
{#    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>#}
{#</div>#}


{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#    {% for flashError in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}

{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#        {{ form_row(registrationForm.email) }}#}
{#        {{ form_row(registrationForm.plainPassword, {#}
{#            label: 'Password'#}
{#        }) }}#}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

{#        <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}
